.container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

.container>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html,
body {
    background-color: #3a3936;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    align-content: center;
    font-size: 5vw;
    color: honeydew;
    font-weight: bolder;
    text-decoration: underline;
    border: solid 10px honeydew;
    margin-bottom: 5px;
}


.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 125px;
    grid-auto-flow: dense;
}
.container>div:hover {
    transform: scale(130%);
    transition: 600ms;
}


.horizontal {
    grid-column: span 2;
}
.horizontal:hover{
    transform: scale(150%);
}

.vertical {
    grid-row: span 2;
}
.vertical:hover{
    transform: scale(325%);
    
}
.big {
    grid-column: span 2;
    grid-row: span 2;
}
